.input, .btn, .label, .btn-register{
    font-size: var(--font-size-base);
}

.input{
    font-family: "Courier New", Courier, monospace;
}

.btn, .label, .btn-register, #password-note{
    font-family: 'Montserrat', sans-serif;
}

#password-note{
    padding: 0;
    margin: 0;
    display: none;
}

.error{
    color: #9a4f4f;
}

.success{
    color: #84c95e;
}

.input-container{
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.2s ease all;
}

.label{
    color: white;
}

.input:focus{
    outline: none;
}