html, body{
    height:100%;
    margin: 0;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label{
    margin-right: 20px;
}

body{
    --background: #1a1b23;
    --btn-primary: #000000;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background);
    color: white;
}

h1{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 20px 0;
    color: #e1e1e1;
}

.input, .btn, .label, .btn-register{
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
}

.input-container{
    padding: 3px;
    border-radius: 5px;
    display: grid;
    grid-area: 1/1;
}


#login-container{
    margin-top: 30px;
    background: linear-gradient(45deg, #e18f3b, #df2c2c, #c3318f, #5d25af);
    z-index: 0;
    grid-area: 1/1;
    border-radius: 5px;
}

#password-container{
    margin-top: 30px;
    background: linear-gradient(210deg, #e18f3b, #df2c2c, #c3318f, #5d25af);
    z-index: 0;
    grid-area: 1/1;
    border-radius: 5px;
}

.input{
    margin: 33px 3px 3px 3px;
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: var(--background);
    color: white;
    transition: 0.2s ease all;
    grid-area: 1/1;
    z-index: 1;
}

.input:focus{
    outline: none;
}

.label{
    margin: 30px 0 0 0;
    align-self: center;
    z-index: 2;
    grid-area: 1/1;
    transition: 0.2s ease all;
    padding: 5px 10px 5px 10px;
    color: #7a7a7a;
}

.focused{
    font-size: 20px;
    padding-top: 0;
    margin-top: -35px;
}

.focused::after{
    content: "*";
    color: #851b1b;
}

.btn{
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background: var(--btn-primary);
    color:white;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 5px 10px 5px 10px;
    transition: 0.2s ease all;
}

.btn:hover{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 0 3px #e18f3b, 0 0 0 6px #df2c2c, 0 0 0 9px #c3318f, 0 0 0 12px #5d25af;
}

.separator{
    background-color: black;
    height: 5px;
}


.btn-register{
    width: 100%;
    cursor: pointer;
    border: 1px dashed #32ff00;
    background: var(--background);
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 5px 10px 5px 10px;
    transition: 0.2s ease all;
    color: #32ff00;
}

.btn-register:hover{
    color: black;
    background-color: #32ff00;
    border: 1px dashed black;
}